{% extends "base.html" %}

{% block page_title %}
    {% comment %} using filter to capitalize the month name {% endcomment %}
    {{month_name|title}}Challenge
{% endblock page_title %}

{% block content %}
    {% comment %} including other html template into this html template {% endcomment %}
    {% include "challenges/includes/header.html" %}

    {% comment %} using filter to capitalize the month name {% endcomment %}
    <h1>{{month_name|title}}'s Challenge</h1>
    {% if text is not None %}
        <h2>{{text}}</h2>
    {% else %}
        <h2>There is no challenge for this month.</h2>
    {% endif %}
{% endblock content %}

